<%= form_for @service, :multipart => true do |f| %>

		<section data-action-text="upload video" data-action="progress" class="gig-edit-form-section " id="gig-edit-pre-video">
				<h2 class="gig-edit-sec-ttl">Awesome!</h2>
				<h3 class="gig-edit-sec-sttl">Did you know that sellers who present their <br> service on video, sell 220% more?</h3>
		</section>

		<section data-action-text="Save &amp; Continue" data-action="progress" class="gig-edit-form-section less-padding " id="gig-edit-upload-video">

				<div class="video-container-full-width js-video-upload-container" id="gig-edit-video-container">
						<div class="cover-photo-upload video-upload">
								<div class="btn-upload-cover">
										<%= f.fields_for :attachment do |attachment_form| %>
												<% if attachment_form.object.media %>
														<%= image_tag attachment_form.object.media.url %>
												<% end %>
												<%= attachment_form.file_field :media %>
										<% end %>
								</div>
								<small>One video file, 50 MB max.</small>
						</div>
				</div>


   </section>

		<div class="form-buttons js-form-button  js-pre-video">
				<input type="submit" value="Save &amp; Continue" class="btn-standard-lrg btn-green">
				<div class="sub-action">
						<a href="#" class="js-back" id="goBackStep2">go back</a>
						or <a href="#" class="js-skip" id="skipStep2">skip</a>
						<small>(you can always add this later)</small>
				</div>
		</div>
		
		<%= hidden_field_tag 'step', '2' %>
		
<% end %>


