<%= nested_form_for @service, :remote => true do |f| %>
		<%= f.fields_for :extra_charges do |ec_form| %>
				<div class="extra_charge_fields">
						<%= ec_form.label :description %>
						<%= ec_form.text_field :description %>
						<%= ec_form.label :cost %>
						<%= ec_form.text_field :cost %>
						<%= ec_form.link_to_remove "Remove" %>
				</div>
				<br />
		<% end %>
		
		<p><%= f.link_to_add "Add Charge", :extra_charges %></p>
		
    <div class="form-buttons js-form-button  js-extras">
        <input type="submit" value="Save &amp; Continue" class="btn-standard-lrg btn-green">
        <div class="sub-action">
            <a href="#" class="js-back" id="goBackStep3">go back</a>
            or <a href="#" class="js-skip-one" id="skipStep3">skip</a>
        </div>
    </div>

		<%= hidden_field_tag 'step', '3' %>
<% end %>
