<div class="main-content">
                                        
		<div class="action-bar-gig container-fluid" id="action-bar" style="top: 148px;">
				<div class="row-fluid">
						<div class="span9">

								<div class="action-steps cf">
										<div data-timeline="general" class="step ca-orange current-step">
												<h5 class="with-arrow">&nbsp;</h5>
												<p>
														Set Up<br>Your Product
												</p>
										</div>
										<div data-timeline="upload-video" class="step ca-grey">
												<h5 class="with-check">&nbsp;</h5>
												<p>
														Upload<br>Image
												</p>
										</div>
										<div data-timeline="shipping" class="step ca-grey">
												<h5 class="with-check">&nbsp;</h5>
												<p>
														Add Charges
												</p>
										</div>
										<div data-timeline="publish" class="step ca-grey">
												<h5 class="with-check">&nbsp;</h5>
												<p>
														Publish &amp;<br>Promote
												</p>
										</div>
								</div>

						</div>
				</div>
		</div>

		<div class="db-container container-fluid">
				<div class="row-fluid">
						<section class="span9 db-content db-content-edit-gig">
								<div class="db-content-inner">
										<article class="db-edit-gig">
												<header class="db-header header-nobot cf">
														<h1>
																Create a new Service
														</h1>
												</header>
												<div class="edit-gig-form-wrap">
														<!--STEP1-->
														<div id="step1_form" class="partial_form">
																<%= render :partial => "step1_form" %>
														</div>
														<!--STEP2-->
														<div id="step2_form" class="partial_form" style="display: none;">
																<%= render :partial => "step2_form" %>
														</div>
														<!--STEP3-->
														<div id="step3_form" style="display: none;" class="partial_form">
																<%= render :partial => "step3_form" %>
														</div>
														<!--STEP4-->
														<div id="step4_form" style="display: none;" class="partial_form">
																<%= render :partial => "step4_form" %>
														</div>
												</div>
										</article>                            
								</div>
						</section>
				</div>
		</div>

</div>
		
<script type="text/javascript">
		var populateCategoryUrl = "<%= populate_category_services_path %>";
		var displayStepNumber = <%= params[:step].to_i %>;
		var serviceNewPage = true;
</script>

