<%= nested_form_for @service, :url => (action == "new") ? admin_services_path : admin_service_path, :html => { :multipart => true } do |f| %>
		
		<%= render 'admin/errors/error_message', model: @service %>
		  <p>
    <%#= f.label 'Select User' %><br />
			<%#= f.select :user_id,User.all.collect {|u| [ u.name.blank? ? u.email : u.name, u.id ] }, :prompt => 'Select User' %>
			  </p>  
		<br/>		
		  <p>
    <%= f.label 'Category' %><br />
				<%= select_tag "category", options_from_collection_for_select(@categories, "id", "name", params[:category]), :prompt => "Select Category" %>
  </p>  
		<br/>		
		  <p>
    <%= f.label 'SubCategory' %><br />
				<%= select_tag "sub_category", options_from_collection_for_select(@sub_categories, "id", "name", params[:sub_category]), :prompt => "Select SubCategory" %>
  </p>  
		<br/>		
		  <p>
    <%= f.label 'InnerCategory' %><br />
				<%= f.select :inner_category_id, @inner_categories.collect {|ic| [ ic.name, ic.id ] }, :prompt => 'Select InnerCategory' %>
  </p>  
		<br/>		
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
		<br/>
		<p>
    <%= f.label 'Short Description' %><br />
    <%= f.text_area :short_desc, :size => "50x3" %>
  </p>
		<br/>
		<p>
    <%= f.label 'Long Description' %><br />
    <%= f.text_area :long_desc, :size => "50x3" %>
  </p>
		<br/>
		<p>
    <%= f.label 'Response Time (Hours)' %><br />
    <%= f.text_field :response_time %>
  </p>
		<br/>
		<p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
		<br/>
		<p>
    <%= f.label :deliverable_days %><br />
    <%= f.text_field :deliverable_days %>
  </p>
		<br/>
		<p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
		<br/>
		<p>
    <%= f.label :buyer_instruction %><br />
    <%= f.text_area(:buyer_instruction, :cols => 74, :rows => 10) %>
  </p>
		<br/>
		<p>
				<%= f.label "Published" %>
				<%= f.check_box :is_published, {}, 1, 0 %>
		</p>
		<br />
		<%= f.fields_for :attachment do |attachment_form| %>
				<% if attachment_form.object.media %>
						<%= image_tag attachment_form.object.media.url ,:style=>"width:150px;height:150px"%>
				<% end %>
				<%= attachment_form.file_field :media %>
  <% end %>
		<br/>
		
		<%= f.fields_for :extra_charges do |ec_form| %>
				<div class="extra_charge_fields">
						<%= ec_form.label :description %>
						<%= ec_form.text_field :description %>
						<%= ec_form.label :cost %>
						<%= ec_form.text_field :cost %>
						<%= ec_form.link_to_remove "Remove" %>
				</div>
				<br />
		<% end %>
		<p><%= f.link_to_add "Add Charge", :extra_charges %></p>
		<br/>
  <p><%= f.submit "Submit" %></p>
<% end %>
