 
<%= render :partial => "/common/admin/title_bar.html" , :locals => {:titles => "Categories"} %>
		
<div id="active_admin_content" class="without_sidebar">
<div class="columns">
              <div class="column" style="width: 100.0%;">
                <div class="panel">
														<h3>Category List<span style="float:right"><%= link_to "Add Category", new_admin_category_path %></span></h3>
                  <div class="panel_contents">
                    <div>
																				<% if @categories.blank? %>
																						<table style="width:100%" class="reference">
																									<tbody>
																											<tr>
																											<td>No category added yet.</td>
																											</tr>
																											<tr>
																											</tr>
																										</tbody>
																						</table>
																				<% else %>
																				<table style="width:100%" class="reference">
																									<tbody>
																									<tr>
																										<th>Name</th>
																										<th>Description</th>		
																										<th>Status</th>
																										<th>Type</th>
																										<th>Actions</th>
																									</tr>
																									<% @categories.each do |category| %>
																									<tr>
																										<td><%= category.name %></td>
																										<td><%= category.description %></td>		
																										<td><%= category.is_published ? "Published" : "Pending" %></td>
																										<td><%= category.is_public ? "Public" : "Private" %></td>
																										<td>
																												<%= link_to "Edit", edit_admin_category_path(category) %> | 
																												<%= link_to "Delete", admin_category_path(category), :confirm => "Are you sure want to delete?", :method => "DELETE" %>
																										</td>
																									</tr>
																									<%end%>
																								</tbody>
																						</table>
																				<% end %>
 
</div>
                    <div>
                  

</div>
                  </div>
                </div>
              </div>
										<div style="clear:both;"></div></div>
										
		</div>