 
<%= render :partial => "/common/admin/title_bar.html" , :locals => {:titles => "Users"} %>
		
<%#=@users%>

<div id="active_admin_content" class="without_sidebar">
<div class="columns">
              <div class="column" style="width: 100.0%;">
                <div class="panel">
                  <h3>Users List</h3>
                  <div class="panel_contents">
                    <div>
																				
																				<table style="width:100%" class="reference">
																									<tbody>
																									<tr>
																										<th>Name</th>
																										<th>Email</th>		
																										<th>Is confirmed</th>
																										<th>Login count</th>
																										<th>Last Login At</th>
																									</tr>
																									<%@users.each do |user|%>
																									<tr>
																										<td><%=user.name.blank? ? "No Name" : user.name%></td>
																										<td><%=user.email%></td>		
																										<td><%=user.confirmed_at.blank? ? "Not Verified" : "Verified"%></td>
																										<td><%=user.sign_in_count%></td>
																										<td><%=user.last_sign_in_at  %></td>
																									</tr>
																									<%end%>
																								</tbody>
																						</table>
 
</div>
                    <div>
                  

</div>
                  </div>
                </div>
              </div>
										<div style="clear:both;"></div></div>
										
		</div>