<div class="inner cf">
   <form method="get" id="search-form" action="/search/gigs" accept-charset="UTF-8">
      <div style="margin:0;padding:0;display:inline"><input type="hidden" value="?" name="utf8"></div>
      <input type="hidden" value="everywhere" name="search_in" id="search_in">
      <div class="wrap-search">
         <input type="text" name="query" maxlength="40" id="query" autocomplete="off">
         <input type="image" alt="Go" src="//cdn20.fiverrcdn.com/assets/v2_buttons/btn-search-icon-lrg-64c37a7ce6c17e45188981e1c6565f10.png" class="magnify">
         <input type="image" src="//cdn20.fiverrcdn.com/assets/v2_buttons/btn-progress-ddd-d675886ce9fbb70af05daba8e7c37a54.gif" class="loading">
         <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 600px; z-index: 9999;"></div>
      </div>
      <label class="wrap-search-caption" for="query">SEARCH</label>
   </form>
   
		<!--	<div class="fake-dropdown fake-dropdown-double" style="visibility: visible;">
      <a rel="nofollow" data-autowidth="true" data-toggle="dropdown" class="dropdown-toggle" href="#">CATEGORIES</a>
												<div role="menu" class="dropdown-menu" style="top: -2px;">
														<div class="dropdown-inner">
																<span class="arr" style="top: 266px; display:none;"></span>
																<span class="rightie" style="display:none;"></span>
																   <ul>
																			<% categories_home_dropdown_display = [] %>
																			<%categories_home_dropdown_display.each do |c_drop_main|%>
                                                <li><a data-gtm-label="<%=c_drop_main.name%>" data-gtm-event="Category Navigation" data-gtm-action="global-dropdown-click" class="js-gtm-event" href="/categories/graphics-design"><%=c_drop_main.name%></a>
																																																</li>
																				<%end%>
                                    </ul>
																																				   <div class="side-menu" style="min-height: 301px; height: 301px; display: none;">
																																																	<%categories_home_dropdown_display.each do |c_drop_main|%>
                                                <ul class="">
                                                    <li><h5><a data-gtm-label="<%=c_drop_main.name%>" data-gtm-event="Category Navigation" data-gtm-action="global-dropdown-click" class="js-gtm-event" href="/categories/graphics-design"><%=c_drop_main.name%></a></h5></li>
																																																				<%c_drop_main.sub_categories.each do |s_cat|%>
																																																				  <li><a data-gtm-label="create-cartoon-caricatures" data-gtm-event="<%=s_cat.name%>" data-gtm-action="global-dropdown-click" class="js-gtm-event" href="/categories/graphics-design/create-cartoon-caricatures"><%=s_cat.name%></a></li>
																																																				<%end%>
																																																				</ul>
																																																				<%end%>
																</div>
																</div>
										</div>
   </div>-->
			
</div>