<!DOCTYPE html>
<html>
<head>
  <title>Mulch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<link href="/admin_style.css" media="all" rel="stylesheet" type="text/css" />
<body style="background-color:white" class="active_admin">
<div id="header" class="header">
        <h1 id="site_title" class="site_title">Mulch Admin</h1>
        <ul id="tabs" class="header-item">
          <li id="home" class="<%=params["controller"] == "admin/home" ? 'current' : ''%>"><a href="/admin/home">Home</a></li>
          <li id="categories" class="<%=params["controller"] == "admin/categories" ? 'current' : '' %>">
										<%= link_to "Categories", admin_categories_path %>
								</li>
								<li id="categories" class="<%=params["controller"] == "admin/sub_categories" ? 'current' : '' %>">
										<%= link_to "Sub Categories", admin_sub_categories_path %>
								</li>					
								<li id="categories" class="<%=params["controller"] == "admin/inner_categories" ? 'current' : '' %>">
										<%= link_to "Inner Categories", admin_inner_categories_path %>
								</li>
          <li id="users" class="<%=params["controller"] == "admin/users" ? 'current' : ''%>"><a href="/admin/users">Users</a></li>
        </ul>
        <p id="utility_nav" class="header-item"></p>
								
								
								<div style="float:right"><a data-method="get" href="/users/sign_out"><span class="label label-important">Log out</span></a></div>
		</div>

<%=yield%>

</body>
</html>
