<!DOCTYPE html>
<html>
<head>
  <title>Mulch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-wrapper" style="padding-top: 148px;">

<!--HEADER-->
<div id="main-wrapper-header">
		<div class="main-flashes">
					
						<% if flash[:notice] %>
   <div data-alert="" class="flash-message flash-success">
    <%= flash[:notice] %>
    </div>
   <% end %>
			
  <% if flash[:error] %>
  <div class="flash-message flash-error">
		<%= flash[:error] %>
  </div>
  <% end %>
		
  <% if flash[:alert] %>
  <div data-alert="" class="flash-message flash-notice">
    <%= flash[:alert] %>
  </div>
  <% end %>
					
		</div>
		
 
				
  <%= render :partial => "common/logo_tabs"%>
		<nav class="main-category-search">
  <%= render :partial => "common/category_search"%>
  <%= render :partial => "common/category_tab"%>
		</nav>
</div>
<!--HEADER-->

<!--Main Content-->
<div class="main-content">
<%=yield%>
  <%= render :partial => "common/footer_search"%>
  <%= render :partial => "common/footer_sponsers"%>
</div>
<!--Main Content-->

<!--footer-->
  <%= render :partial => "common/footer"%>
<!--footer-->

</div>

<%#= yield %>

</body>
</html>
